@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'gilroy-semiBold';
    src: url('/fonts/gilroy-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

